{{!-- not sure if i need a folder or if partials will work --}}
{{!-- initate this with button click possible boolean needed --}}
{{!-- still getting a hang of handlebars, i think i need an if statement for these --}}
<div class="nav">

	{{{> posts/signUp placeholder=true}}}

</div>

<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-3 sidenav">

			{{> posts/sideNav}}

		</div>

		<div class="jumbotron">
			<div class="post-container">

				{{> posts/mainContent}}

			</div>
		</div>
	</div>
	</d>

</div>
 
<footer class="fixed-bottom">
	<p>Project 2</p>
	<a href="https://github.com/cpaul319/Project_2_Confessions">Github Repo
	</a>
</footer>