{{!-- not sure if i need a folder or if partials will work --}}
{{!-- initate this with button click possible boolean needed --}}
{{!-- still getting a hang of handlebars, i think i need an if statement for these --}}
<div class="container-main">
	<div class="nav">
		<nav class="navbar fixed-top navbar-inverse">
			<div><a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal"
					data-target="#modalLRForm">LogIn/Register</a></div>
		</nav>

		<!--Modal: Login / Register Form-->
		<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="modal-dialog cascading-modal" role="document">
				<!--Content-->
				<div class="modal-content">

					<!--Modal cascading tabs-->
					<div class="modal-c-tabs">

						<!-- Nav tabs -->
						<ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i
										class="fas fa-user mr-1"></i>
									Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i
										class="fas fa-user-plus mr-1"></i>
									Register</a>
							</li>
						</ul>

						<!-- Tab panels -->
						<div class="tab-content">
							<!--Panel 7-->
							<div class="tab-pane fade in show active" id="panel7" role="tabpanel">

								<!--Body-->
								<div class="modal-body mb-1">
									<div class="md-form form-sm mb-5">
										<i class="fas fa-envelope prefix"></i>
										<input type="email" id="modalLRInput10"
											class="form-control form-control-sm validate">
										<label data-error="wrong" data-success="right" for="modalLRInput10">Your
											email</label>
									</div>

									<div class="md-form form-sm mb-4">
										<i class="fas fa-lock prefix"></i>
										<input type="password" id="modalLRInput11"
											class="form-control form-control-sm validate">
										<label data-error="wrong" data-success="right" for="modalLRInput11">Your
											password</label>
									</div>
									<div class="text-center mt-2">
										<button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
									</div>
								</div>
								<!--Footer-->
								<div class="modal-footer">
									<div class="options text-center text-md-right mt-1">
										<p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
										<p>Forgot <a href="#" class="blue-text">Password?</a></p>
									</div>
									<button type="button" class="btn btn-outline-info waves-effect ml-auto"
										data-dismiss="modal">Close</button>
								</div>

							</div>
							<!--/.Panel 7-->

							<!--Panel 8-->
							<div class="tab-pane fade" id="panel8" role="tabpanel">

								<!--Body-->
								<div class="modal-body">
									<div class="md-form form-sm mb-5">
										<i class="fas fa-envelope prefix"></i>
										<input type="email" id="modalLRInput12"
											class="form-control form-control-sm validate">
										<label data-error="wrong" data-success="right" for="modalLRInput12">Your
											email</label>
									</div>

									<div class="md-form form-sm mb-5">
										<i class="fas fa-lock prefix"></i>
										<input type="password" id="modalLRInput13"
											class="form-control form-control-sm validate">
										<label data-error="wrong" data-success="right" for="modalLRInput13">Your
											password</label>
									</div>

									<div class="md-form form-sm mb-4">
										<i class="fas fa-lock prefix"></i>
										<input type="password" id="modalLRInput14"
											class="form-control form-control-sm validate">
										<label data-error="wrong" data-success="right" for="modalLRInput14">Repeat
											password</label>
									</div>

									<div class="text-center form-sm mt-2">
										<button class="btn btn-info">Sign up <i
												class="fas fa-sign-in ml-1"></i></button>
									</div>

								</div>
								<!--Footer-->
								<div class="modal-footer">
									<div class="options text-right">
										<p class="pt-1">Already have an account? <a href="#" class="blue-text">Log
												In</a>
										</p>
									</div>
									<button type="button" class="btn btn-outline-info waves-effect ml-auto"
										data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Modal with form for Confessions posts -->
	<div class="modal" id="modalPostForm" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Write a confession. It could be made up or true. Others will try and
						figure
						out if it's real or not.</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="message-text" class="col-form-label">Write your confession here</label>
						<textarea class="form-control" id="message-text"></textarea>
					</div>
					<label class="radio-inline">
						<h5>Is this confession true or false?</h5>
						<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"> True
					</label>
					<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0"> False
					</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="item1">
			{{> posts/previousPost}}
		</div>
		<div class="item2">
			<a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalPostForm">
				<img class="minibox" src="./public/assets/images/confessGot.jpg" alt="GOT Confess Lady">
				<h3>Click to Confess</h3>
			</a>
		</div>
		<div class="item3">
			{{> posts/trueFalse}}
		</div>

	</div>


	<footer class="bottom">
		<p>Confessions &copy;</p>
		<a href="https://github.com/cpaul319/Project_2_Confessions">Github Repo
		</a>
	</footer>


</div>