
<div class="col-sm-3 sidenav">
{{#if user}}
<h3>Past Posts</h3>
<h3>{{firstName}} {{lastName}}</h3>
<ul class="pastPosts">
  {{#each user}}
    <li>{{this.confession}}</li>
  {{/each}}
</ul>
{{else}}
<h3>Not Logged in</h3>
<img src="https://pbs.twimg.com/profile_images/814550355522580481/X4ezsPZP.jpg" alt="True False">
{{/if}}
</div>
 
 